<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

     Team Name:	<h2><%= @tm %></h2>
      Coach: <h2><%= @co %></h2>
        Point Guard:	<h2><%= @pg %></h2>
          Shooting Guard:	<h2><%= @s%></h2>
            Power Forward:	<h2><%= @p %></h2>
              Shooting Guard:	<h2><%= @sf %></h2>
              Center: <h2><%= @c %></h2>


 </body>
</html>
